<h1>Editing bill_spliting</h1>

<%= render 'form' %>

<%= link_to 'Show', [@bill_spliting.bill_type, @bill_spliting] %> |
<%= link_to 'Back', bill_type_bill_splitings_path(@bill_spliting.bill_type) %>
