<h1>Editing bill_apportionment</h1>

<%= render 'form' %>

<%= link_to 'Show', [@bill_apportionment.bill, @bill_apportionment] %> |
<%= link_to 'Back', bill_bill_apportionments_path(@bill_apportionment.bill) %>
