<h1>New bill_apportionment</h1>

<%= render 'form' %>

<div class="col-md-11 text-center">
  <%= link_to 'Back', bill_bill_apportionments_path(@bill_apportionment.bill), class: "btn btn-warning text-center" %>
</div>
